*{
    box-sizing: border-box;
    display: flex;
    text-align: center;

}
head{
    display: none;
}
body{
    background: black;
    width: 100%;
    flex-direction: column;  
}
.initial{
    display: hidden;
}
main{
    background: white;
    width: 85%;
    border-radius: 20px;
    position: relative;
    padding: 4%;
    align-self: center;
    font-family: 'Playfair Display', serif;
    border: rgba(128, 128, 128, 0.658) solid 2px;
    max-height: 300px;
    overflow: scroll;
    font-size: 14px;
}
heading{
    align-self: center;
    width: 50%;
    margin-top: 10%;
}
heading>ul{
    padding:0;
    width: 100%;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
h2{
    color: black;     
}
.projectDescription{
    display: block;
    text-align: center;
}
.projectDescription>a{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    opacity: 0.5;
}
.initial,#sideBar{
    font-family: 'Gravitas One', cursive;
}
a:hover{
    cursor: default;
}
/* not working due to JS?*/
#sideBar,.social>a:hover,button:focus,.social>a:focus,button:hover,.selected,h2:hover{
    color: rgb(175, 226, 247);
}
/* button styling */
button{
    color: white;
    background: none;
    border: none; 
    font-size: 30px;
    outline:none;
}
.personalBio, .projectsPageData,.contacting{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.projectsPageData>a,.projectsPageData>p,.contacting>p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: black;
}
.socialIcons{
    justify-content: space-around;
    background: white;
    margin: 0;
    padding: 15px;
              
}
.social>a{
    color: black;
}
.corner{
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.codingCount{
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 5%
}

img{
    width: 90%;
    margin-left:auto;
    margin-right: auto; 
    margin-bottom: 6%;
}


@media screen and (min-width: 600px){
    #sideBar{
        padding: 0;
        margin: 0;
        width: 50px; 
        position: absolute;
        right: 60px;
        bottom: 50px;
    }
    img{
        flex-grow: 1;
        max-width: 350px;
        margin-bottom:0;
    }
    .initial{
        font-size: 70px;
        color:rgb(175, 226, 247);
        padding: 5px;
        margin:0;
    }
    .corner{
        position: absolute;
        top: 0;
        display: inline;
        width: 80px;
    }
    .socialIcons{
        flex-direction: column;
        background: none;
        height: 180px; 
        justify-content: space-between;
        padding: 0;
    }
    .social{
        margin-left:auto;
        margin-right:auto;
    }
    .social>a{
        color: white;
    }
    main{
        max-height: 700px; 
        font-size: 18px;
    }
    heading{
        margin-top: 8%;
    }
} 



